<p id="notice"><%= notice %></p>

<h4>Name: <%= @skate_spot.name %><br>
Zip Code: <%= @skate_spot.zip_code %><br>
Address: <%= @skate_spot.location.address %></h4>

<%= link_to 'Edit', edit_skate_spot_path(@skate_spot) %> |
<%= link_to 'Back', skate_spots_path %>
