<!--Sources:
https://www.railstutorial.org/book, Hartl Michael, 2014
https://www.railstutorial.org/book/updating_and_deleting_users
http://stackoverflow.com/questions/31620546/accordion-doesnt-collapse-properly-when-having-multiple-accordions-->

<% @users.each_with_index do |user, index| %>
				<!--% if !current_user.user_blocked_by?(user) %-->
				<!--div class="panel-group" id="accordion-%= index %>"--> <!--role="tablist" aria-multiselectable="true">-->
				<div class="panel-group" id="accordion-<%= index %>" role="tablist" aria-multiselectable="true">
				<!--div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true"-->
					<div class="panel panel-default">

						<div class="panel-heading">
							<h4 class="panel-title">
								<span class="user_link">
									<span data-toggle="collapse" data-target="#collapse-<%= index %>" data-parent="#accordion-<%=index %>" href="#collapse-<%= index.to_s %>">
									<!--a data-toggle="collapse" data-target="#collapse-%= index %>" data-parent="#accordion" href="#collapse-%= index %>"-->
										<span href="#" data-toggle="tooltip" title="Expand for more details"--><%= user.name %></span>
									</span>
									<!--%= link_to user.name, user %-->
								</span>
									 <% if current_user.admin? && !current_user?(user) %>
										 <!-- only admin users are able to see "delete" links for user accounts -->
										 | <span class="user_link"><%= link_to "Delete", user, method: :delete,
														 data: { confirm: "You sure?" } %></span>
									 <% end %>
							</h4>
						</div>

						<div id="collapse-<%= index.to_s  %>" class="panel-collapse collapse">
						<!--<div id="collapse1" class="panel-collapse collapse">-->
							<div class="panel-body">
								
								 <div class="column">
									 <div class="row">
										 <%= gravatar_for user, size: 50 %>
										 <span class="user_link"><%= link_to "View #{user.name.pluralize} profile", user %></span><br>
										</div><br>
									 <div class="row">
										 &nbsp;&rarr;&nbsp;<%= user.skate_spots.count %> documented skate spots<br>
										 &nbsp;&rarr;&nbsp;<%= user.ratings.count %> ratings<br>
										 &nbsp;&rarr;&nbsp;<%= user.followers.count %> followers<br>
										 &nbsp;&rarr;&nbsp;<%= user.following.count %> following<br>
										</div>
								 </div>
							 </div>
						 </div>
					
				 </div>
				</div>
				<!--% end %-->
<% end %>


