<!--Sources:
https://www.railstutorial.org/book, Hartl Michael, 2014
https://www.railstutorial.org/book/sign_up-->
<% provide(:title, "Sign up") %>
<% provide(:p, "Please fill out the form to create an account.") %>
<% provide(:text, "<span style='color: '#f4ffe3'>A confirmation email will be sent to your email upon submission of the form.</span>".html_safe) %>


<% setFirebase %>

<!--div class="panel panel-default"-->
  <!--div class="panel-heading">
     <h4>Create a Skate App account!</h4>
 </div-->
 <div class="panel-body homeDiv">
    <%= form_for(@user, :html => { :id => 'newUserForm' }) do |f| %>

	    <%= render 'shared/error_messages', object: f.object %>
      <!--%= render 'shared/error_messages', object: @user %-->

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
 
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>
 
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, class: 'form-control' %><br>
  
      <%= f.submit "Create Account", class: "btn btn-primary submitButton", onclick: "firebaseSignUpUser();" %>

     <% end %>
   </div>
<!--/div-->
