<!--Sources:
https://www.railstutorial.org/book, Hartl Michael, 2014
https://www.railstutorial.org/book/sign_up-->

<% provide(:title, @user.name) %>
<div class="row">
 <div class="col-sm-4">
  <!--<aside class="col-md-4">-->
    <section class="user_info">
      <h3>
        <%= gravatar_for @user %>
        <div class="col-sm-2">
          <%= @user.name %>
          <%= @user.email %>
        </div>
      </h3>
    </section>
  <!--</aside>-->
 </div>
<!--</div>-->

<h4>Skate spots added by <%= @user.name %></h4>
<div class="container">
  <div class="table-responsive">
    <table class="table table-hover">
     <thead>
       <tr>
         <th>Name</th>
         <th>Zip Code</th>
       </tr>
     </thead>
 
    <tbody>
     <% @user.skate_spots.each do |skate_spot| %>
       <tr>
        <tr>
          <td>
            <li class="dropdown">
              <%= link_to "#{skate_spot.name}", skate_spot %>
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Edit", edit_skate_spot_path(skate_spot) %></li    >
               <li><%= link_to "Destroy", skate_spot, method: :delete, data: {     confirm: 'Are you sure?' } %></li>
             </ul>
           </li>
         </td>
         <td><%= skate_spot.zip_code %></td>
       </tr>
     </tr>
    <% end %>
   </tbody>
  </table>
 </div>
</div>

</div>



