<% @user ||= current_user %>
<div class="stats">

	<button type="button" class="btn btn-default btn-sm btn-block">
		<a class="statsLinks" href="<%= following_user_path(@user) %>">
			Following
				<strong id="following" class="stat">
					<%= @user.following.count %>
				</strong>
		</a>
	</button>

	<button type="button" class="btn btn-default btn-sm btn-block">
		<a href="<%= followers_user_path(@user) %>">
			Followers
				<strong id="followers" class="stat">
					<%= @user.followers.count %>
				</strong>
		</a>
	</button>

	<% if current_user.id == @user.id %>
		<button type="button" class="btn btn-default btn-sm btn-block">
			<a href="<%= blocked_user_path(@user) %>">
				Blocked
					<strong id="blocked" class="stat">
						<%= @user.user_blocked.count %>
					</strong>
			</a>
		</button>
	<% end %>

</div>
