<p id="notice"><%= notice %></p>

<% provide(:title, "Events") %>
<% provide(:p, "Below are all the posted events.") %>
<% provide(:text, "<span style='color: #f4ffe3'>If you created an event, you can click the event to edit it.</span>".html_safe) %>

<div class="container">
  <div class="row">
	 <%= form_tag(events_path, :method => "get", id: "search-form") do %>
	 <%= text_field_tag :search, params[:search], placeholder: "Search Events" %>
	 <%= submit_tag "Search", class: "btn btn-default btn-sm" %>
	 <% end %>

	 <!--% if (!@events.present?) and (!params[:search].nil?) %>
		 <p>There are no events containing the term(s) %= params[:search] %>.</p>
	 % end %-->
  </div>
</div>


<div class="table-responsive">
<table class="table skate_table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Date</th>
      <th>Skate Spot</th>
    </tr>
  </thead>

  <tbody>
	 <% if (!@events.present?) or (!params[:search].nil?) %>
		<tr>
			<td>
			  <% if (!params[:search].nil?) %> 
				 <p>There are no events containing the term(s) <%= params[:search] %>.</p>
				<% else %>
				 <p>There are no events posted.</p>
				<% end %>
			</td>
		</tr>
	 <% else %>
    <% @events.each do |event| %>
		<% @s_event = SkateSpot.find_by(:id => event.skate_spot_id) %> 
      <tr>
					<td><!--%= event.name %-->
						<% if current_user.id == event.user_id %>
						  <div class="dropdown">
							 <span class="skate_link"><%= link_to event.name.capitalize, edit_skate_spot_path(id: event.skate_spot_id) %></span>
							 <a href="#" class="dropdown-toggle caret_link" data-toggle="dropdown">
									<b class="skate_caret"></b>
								</a>
								<ul class="dropdown-menu">
									<li><%= link_to "Edit", edit_skate_spot_event_path(event.skate_spot, event) %></li>
									<li><%= link_to "Destroy", skate_spot_event_path(event.skate_spot, event), method: :delete, data: { confirm: 'Are you sure?' } %></li>
								</ul>
							</div>
						<% else %>
							<%= event.name.capitalize %>
						<% end %>
					</td>
					<td><%= event.description %></td>
					<td><%= event.date.localtime.strftime "%B %e, %Y at %l:%M %p" %></td>
					<td><span class="skate_link"><%= link_to "#{@s_event.name}", @s_event %></span></td>
   
      </tr>
    <% end %>
	<% end %>
  </tbody>
</table>





