<!--Sources:
   https://www.railstutorial.org/book, Hartl Michael, 2014
   https://www.railstutorial.org/book/updating_and_deleting_users
   http://stackoverflow.com/questions/18898947/rails-number-field-alternative-for-decimal-values-->
   
<% provide(:button_text, 'Submit') %>
  <div class="panel panel-default">
    <div class="panel-body">
  
    <%= form_for(@skate_spot) do |f| %>
      <!--%= render 'shared/error_messages', object: @skate_spot %>-->
  
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :street_num %>
      <%= f.text_field :street_num, class: 'form-control' %>
  
      <%= f.label :street %>
      <%= f.text_field :street, class: 'form-control' %>

      <%= f.label :cross_street %>
      <%= f.text_field :cross_street, class: 'form-control' %>

      <!--%= f.label :zip_code %>
      %= f.text_field :zip_code, class: 'form-control' %>-->
  
      <%= f.label :city %>
      <%= f.text_field :city, class: 'form-control' %>

      <%= f.label :state %>
      <%= f.text_field :state, class: 'form-control' %>

      <%= f.label :country %>
      <%= f.text_field :country, class: 'form-control' %>

      <br>

      <%= f.submit yield(:button_text), class: "btn btn-primary" %>
  
    <% end %>

  </div>
</div>
