<!--div class="container" id="skateSearch"-->
<div class="container">
  <div class="row skateSearch">
   <%= form_tag(skate_spots_path, :method => "get", id: "search-form") do %>
     &nbsp;&nbsp;<%= text_field_tag :search, params[:search], placeholder: "Search SkateSpots" %>&nbsp;
		<% if session[:mobile_param] == 1 %><br><% end %>
     <%= text_field_tag :zip_code, params[:zip_code], placeholder: "Zip code" %>
		<% if session[:mobile_param] == 1 %><br><% end %>
     <%= select_tag "mileage", options_for_select(["30", "60", "90", "120"]), prompt: "Distance away in miles..." %>
		<% if session[:mobile_param] == 1 %><br><% end %>
     <%= submit_tag "Search", class: "btn btn-default btn-sm" %><br>
		<% if session[:mobile_param] == 1 %><br><% end %>
    
   <% if !@skate_spots.present? %>
     <center><p style='color: #f4ffe3'>
			<% @paramsWO = params.except(:utf8, :search, :commit, :controller, :action, :zip_code, :mileage) %>
			<% @filterTrue = @paramsWO.select { |he| params[he].values.first == "1" } %>
			<% if params[:search].length != 0 %>
				<% if @filterTrue.length != 0 %>
					There are no skate spots containing the word(s) <%= params[:search] %> matching the 
				<% else %>
					There are no skate spots containing the word(s) <%= params[:search] %>.
				<% end %>
			<% else %>
				There are no skate spots matching the 
			<% end %>
			<% @filterTrue.each_with_index do |(key, value), index| %>
				<% if value.values.first == "1" %> <!-- l -->
					<% if index < (@filterTrue.length - 1) %> <!-- o -->
						<% if index < (@filterTrue.length - 2) %> <!-- i -->
							<i><%= key %></i>, 
						<% else %>
							<i><%= key %></i> 
						<% end %> <!-- i -->
					<% else %> <!-- o -->
						<% if (index == (@filterTrue.length - 1)) and (@filterTrue.length == 1) %> <!-- j -->
							<i><%= key %></i> filter option.
						<% else %>
							and <i><%= key %></i> filter options.
						<% end %> <!-- j -->
					<% end %> <!-- o -->
				<% end %> <!-- l -->
			<% end %>
				</p></center>
   <% end %>
       <!--table class="filterTable">
        <tr>
        <td class="filterCell">&nbsp;&nbsp;--><center><b>Filter by...</b></center><!--/td>
          <td></td>
        </tr-->
       <table class="filterTable1">
        <tr>
					<!-- meaning all spots that have upvotes > downvotes -->
          <td class="filterCell">&nbsp;&nbsp;<%= label_tag "Upvoted" %></td>
          <td><%= check_box "upvotes", "upvoteFilter" %>&nbsp;<br></td>
        </tr>
        <tr>
					<!-- meaning all spots that have upvotes < downvotes -->
          <td class="filterCell">&nbsp;&nbsp;<%= label_tag "Downvoted" %></td>
          <td><%= check_box "downvotes", "downvoteFilter" %>&nbsp;</td>
        </tr>
        <tr>
          <td class="filterCell">&nbsp;&nbsp;<%= label_tag "Material..." %><br>
             &nbsp;&nbsp;&nbsp;<%= label_tag "Wood" %><br>
             &nbsp;&nbsp;&nbsp;<%= label_tag "Concrete" %><br>
             &nbsp;&nbsp;&nbsp;<%= label_tag "metal" %><br>
          </td>
          <td>
            <br>
             <%= check_box "wood", "wood" %><br>
             <%= check_box "concrete", "concrete" %><br>
             <%= check_box "metal", "metal" %><br>
          </td>
        </tr>
        <tr>
          <td class="filterCell">&nbsp;&nbsp;<%= label_tag "Gated" %><br></td>
          <td><%= check_box "gated", "gated" %></td>
        </tr>
      </table>
      <table class="filterTable2">
        <tr>
          <td class="filterCell">&nbsp;&nbsp;<%= label_tag "Size..." %><br>
             &nbsp;&nbsp;&nbsp;<%= label_tag "Skate spot size" %><br>
             &nbsp;&nbsp;&nbsp;<%= label_tag "Neighborhood spot size" %><br>
             &nbsp;&nbsp;&nbsp;<%= label_tag "Regional spot size" %><br>
          </td sk8Srch_contain>
          <td>
            <br>
             <%= check_box "spotSize", "spotSize" %><br>
             <%= check_box "neighSize", "neighSize" %><br>
             <%= check_box "regSize", "regSize" %><br>
          </td>
        </tr>
        <tr>
          <td class="filterCell">&nbsp;&nbsp;<%= label_tag "Transition" %></td>
          <td><%= check_box "transition", "transition" %>&nbsp;<br></td>
        </tr>
        <tr>
          <td class="filterCell">&nbsp;&nbsp;<%= label_tag "Street plaza" %></td>
          <td><%= check_box "streetPlaza", "streetPlaza" %>&nbsp;</td>
        </tr>
        <tr>
          <td class="filterCell">&nbsp;&nbsp;<%= label_tag "WCMX accessible" %></td>
          <td><%= check_box "wcmxAccessible", "wcmxAccessible" %>&nbsp;</td>
        </tr>
        <tr>
          <td class="filterCell">&nbsp;&nbsp;<%= label_tag "BMX accessible" %></td>
          <td><%= check_box "bmxAccessible", "bmxAccessible" %>&nbsp;</td>
        </tr>
      </table>


   <% end %>
  </div>
</div>

<!--div class="container" id="spaceDiv">
  <div class="row">
    <p style="visibility:hidden">This text is a placeholder to separate the search div from the skate table div.</p>
  </div>
</div-->


<!--% if @skate_spots.count != 0 %-->
<% if @skate_spots.present? %>
<!--div class="table-responsive"-->
<div class="table-responsive">
<!--table class="table skate_table" id="myTable">
<table class="table table-condensed skate_table" id="myTable"-->
<table class="table table-condensed skate_table_new" id="myTable">
 <thead>
  <tr>
    <th onclick="sortTable(0)">Name</th>
    <th onclick="skate_sortthenums(2)"><i class="glyphicon glyphicon-thumbs-up"></i></th>
    <th onclick="skate_sortthenums(3)"><i class="glyphicon glyphicon-thumbs-down"></i></th>
    <th>Type</th>
    <th>Material</th>
    <th>Gated</th>
    <th>Size</th>
    <th>Address</th>
    <!--th onclick="sortNumsTable(2)">Zip Code</th-->
  </tr>
  </thead>
  <tbody>
  <% @skate_spots.each do |skate_spot| %>
  <tr>
   <td>
    <span style="display:none"><%= skate_spot.name %></span>
    <li class="dropdown">
      <span class="skate_link"><%= link_to "#{skate_spot.name}", skate_spot %></span>
      <% if logged_in? %>
       <% if current_user.id == skate_spot.user_id %>
        <a href="#" class="dropdown-toggle caret_link" data-toggle="dropdown">
          <b class="skate_caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li><%= link_to "Edit", edit_skate_spot_path(skate_spot) %></li>
          <li><%= link_to "Destroy", skate_spot, method: :delete, data: { confirm: 'Are you sure?' } %></li>
        </ul>
      <% end %>
      <% end %>
    </li>
   </td>


   <td><%= skate_spot.user_votes.select{|key, hash| hash["1"] == "1" }.count %></td>
   <td><%= skate_spot.user_votes.select{|key, hash| hash["0"] == "0" }.count %></td>

   <td>
      <% if skate_spot.transition && skate_spot.street_plaza %>&#9687; transition<br>&#9687; street slaza
      <% elsif skate_spot.transition %>&#9687;transition
      <% elsif skate_spot.street_plaza %>&#9687;street plaza
      <% else %>&#9687;not listed
      <% end %>
   </td>

   <td><%= material_words(skate_spot) %></td>

   <td><% if skate_spot.gated %>&#9687; yes<% else %>&#9687; no<% end %></td>

   <td><%= ss_size(skate_spot) %></td>

   <td><%= skate_spot.complete_address_LB %></td>
  </tr>
  <% end %>
  </tbody>
</table>
</div>
<% end %>

