        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="<%= (@skate_spot.ratings.average(:difficulty).to_f)*10 %>" aria-valuemin="0" aria-valuemax="100" style="width:<%= (@skate_spot.ratings.average(:difficulty).to_f)*10 %>%">
            <span class="pull-left" style="color: white">&nbsp;Difficulty: <%= @skate_spot.ratings.average(:difficulty).to_f %>/10</span>
          </div>
        </div>

        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="<%= (@skate_spot.ratings.average(:police).to_f)*10 %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= (@skate_spot.ratings.average(:police).to_f)*10 %>%">
            <span class="pull-left" style="color: white">&nbsp;Security: <%= @skate_spot.ratings.average(:police).to_f %>/10</span>
          </div>
        </div>

        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow=" <%= (@skate_spot.ratings.average(:pedestrian).to_f)*10 %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= (@skate_spot.ratings.average(:pedestrian).to_f)*10 %>%">
            <span class="pull-left" style="color: white">&nbsp;Pedestrians: <%= @skate_spot.ratings.average(:pedestrian).to_f %>/10</span>
          </div>
        </div>



<!--div id="skate_rating"
	<div class="row">
		<div class="container col-sm-4">
			<table class="table">
				<thead>
					<th>Difficulty</th>
					<th>Pedestrians</th>
					<th>Security</th>
				</thead>

				<tbody>
					<tr>
						<td>%= @skate_spot.ratings.average(:difficulty) %></td>
						<td>%= @skate_spot.ratings.average(:pedestrian) %></td>
						<td>%= @skate_spot.ratings.average(:police) %></td>
					</tr>
				</tbody>

			</table>
		</div>
	</div>

/div-->
