<!--Sources:
   https://www.railstutorial.org/book, Hartl Michael, 2014
   https://www.railstutorial.org/book/updating_and_deleting_users
   http://stackoverflow.com/questions/18898947/rails-number-field-alternative-for-decimal-values-->
   
<% provide(:button_text, 'Submit') %>
  <div class="panel panel-default">
		<div class="panel-heading">
			<h4><%= yield(:title) %></h4>
		</div>
    <div class="panel-body">
  
    <%= form_for(@skate_spot) do |f| %>
      <!--%= render 'shared/error_messages', object: @skate_spot %>-->
  
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :number %>
      <%= f.text_field :number, class: 'form-control' %>
  
      <%= f.label :street, "Street" %>
      <%= f.text_field :street, class: 'form-control' %>

      <%= f.label :city %>
      <%= f.text_field :city, class: 'form-control' %>

      <%= f.label :state %>
      <%= f.text_field :state, class: 'form-control' %>

      <%= f.label :zip_code %>
      <%= f.text_field :zip_code, class: 'form-control' %>
  
      <%= f.label :country %>
      <%= f.text_field :country, class: 'form-control' %>
			
			<br>

			<b>Skate Spot is a...</b><br>
			<%= f.check_box :park_spot %>
      <%= f.label :park_spot, "Park spot" %>&nbsp;
			<%= f.check_box :street_spot %>
      <%= f.label :street_spot, "Street spot" %>
			<br>

			<b>Skate Spot is...</b><br>
			<%= f.check_box :gated %>
      <%= f.label :gated, "Gated" %>&nbsp;
			<br>
			
			<b>Skate Spot Material is...</b><br>
			<%= f.check_box :concrete %>
      <%= f.label :concrete, "Concrete" %>&nbsp;
			<%= f.check_box :wood %>
      <%= f.label :wood, "Wooden" %>&nbsp;
			<%= f.check_box :metal %>
      <%= f.label :metal, "Metal" %>
			<br>
			
			<b>Skate Spot style...</b><br>
			<%= f.check_box :transition %>
      <%= f.label :transition, "Transition" %>&nbsp;
			<%= f.check_box :street_plaza %>
      <%= f.label :street_plaza, "Street Plaza" %>
			<br>

			<b>Skate Spot size is...</b><br>
			<%= f.check_box :skate_spot_size %>
      <%= f.label :skate_spot_size, "Skate spot size" %>&nbsp;
			<%= f.check_box :neighborhood_spot_size %>
      <%= f.label :neighborhood_spot_size, "Neighborhood spot size" %>&nbsp;
			<%= f.check_box :regional_spot_size %>
      <%= f.label :regional_spot_size, "Regional spot size" %>
      <br>
			
			<b>Check if skate Spot is WCMX accessible:</b><br>
			<small>(Not sure what WCMX is? Learn more <a href="http://www.newmobility.com/2014/01/meet-wcmx-riders/">here</a>)</small><br>
			<%= f.check_box :wcmx_accessible %>
      <%= f.label :wcmx_accessible, "yes, WCMX accessible" %>&nbsp;
      <br>
      <br>
      <%= f.submit yield(:button_text), class: "btn btn-primary" %>
			<!--p>Note: Please double-check to make sure the address is correct. Once submitted, you will not be able to edit the location but will need to delete and create a new Street Spot.</p>--> 
    <% end %>

  </div>
</div>



