<!--Sources:
   https://www.railstutorial.org/book, Hartl Michael, 2014
   https://www.railstutorial.org/book/updating_and_deleting_users
   http://stackoverflow.com/questions/18898947/rails-number-field-alternative-for-decimal-values-->
   
<% provide(:button_text, 'Submit') %>
  <div class="panel panel-default">
		<div class="panel-heading">
			<h4><%= yield(:title) %></h4>
		</div>
    <div class="panel-body">
  
    <%= form_for(@skate_spot) do |f| %>
      <!--%= render 'shared/error_messages', object: @skate_spot %>-->
  
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :number %>
      <%= f.text_field :number, class: 'form-control' %>
  
      <%= f.label :street, "Street" %>
      <%= f.text_field :street, class: 'form-control' %>

      <%= f.label :city %>
      <%= f.text_field :city, class: 'form-control' %>

      <%= f.label :state %>
      <%= f.text_field :state, class: 'form-control' %>

      <%= f.label :zip_code %>
      <%= f.text_field :zip_code, class: 'form-control' %>
  
      <%= f.label :country %>
      <%= f.text_field :country, class: 'form-control' %>
			
			<br>
			<h4 class="ssFont">Please check the boxes that best describe the skate spot.</h4><br>

			<div class="filterSelect">
				<b class="ssFont">Skate Spot is a...</b><br>
					<%= f.check_box :park_spot, class: "filterCheck" %>
					<%= f.label :park_spot, "Park spot", class: "filterLabel" %>
					<%= f.check_box :street_spot, class: "filterCheck" %>
					<%= f.label :street_spot, "Street spot", class: "filterLabel" %>
			</div>

			<div class="filterSelect">
				<b class="ssFont">Skate Spot is...</b><br>
				<%= f.check_box :gated, class: "filterCheck" %>
				<%= f.label :gated, "Gated", class: "filterLabel" %>
			</div>
				
			<div class="filterSelect">
				<b class="ssFont">Skate Spot Material is...</b><br>
				<%= f.check_box :concrete, class: "filterCheck" %>
				<%= f.label :concrete, "Concrete", class: "filterLabel" %>
				<%= f.check_box :wood, class: "filterCheck" %>
				<%= f.label :wood, "Wooden", class: "filterLabel" %>
				<%= f.check_box :metal, class: "filterCheck" %>
				<%= f.label :metal, "Metal", class: "filterLabel" %>
			</div>
			
			<div class="filterSelect">
				<b class="ssFont">Skate Spot style...</b><br>
				<%= f.check_box :transition, class: "filterCheck" %>
				<%= f.label :transition, "Transition", class: "filterLabel" %>
				<%= f.check_box :street_plaza, class: "filterCheck" %>
				<%= f.label :street_plaza, "Street Plaza", class: "filterLabel" %>
			</div>

			<div class="filterSelect">
				<b class="ssFont">Skate Spot size is...</b><br>
				<%= f.check_box :skate_spot_size, class: "filterCheck" %>
				<%= f.label :skate_spot_size, "Skate spot size", class: "filterLabel" %>
				<%= f.check_box :neighborhood_spot_size, class: "filterCheck" %>
				<%= f.label :neighborhood_spot_size, "Neighborhood spot size", class: "filterLabel" %>
				<%= f.check_box :regional_spot_size, class: "filterCheck" %>
				<%= f.label :regional_spot_size, "Regional spot size", class: "filterLabel" %>
			</div>
			
			<div class="filterSelect">
				<b class="ssFont">Check if skate Spot is WCMX accessible:</b><br>
				<small>(Not sure what WCMX is? Learn more <a href="http://www.newmobility.com/2014/01/meet-wcmx-riders/">here</a>)</small><br>
				<%= f.check_box :wcmx_accessible, class: "filterCheck" %>
				<%= f.label :wcmx_accessible, "yes, WCMX accessible", class: "filterLabel" %>
			</div>

			<div class="filterSelect">
				<b class="ssFont">Skate Spot is BMX accessible:</b><br>
				<%= f.check_box :bmx_accessible, class: "filterCheck" %>
				<%= f.label :bmx_accessible, "yes, BMX accessible", class: "filterLabel" %>
			</div>

      <%= f.submit yield(:button_text), class: "btn btn-primary" %>
    <% end %>

  </div>
</div>



