<% provide(:title, "New Spot by Geolocation") %>
<% provide(:p, "Click the button to generate coordinates or you may enter in the GPS coordinates yourself") %>


<!--div class="panel panel-default">
  <div class="panel-body">
    <button onclick="new_getLocation()">Set coords</button>
    <p id="new_demo"></p>
	</div>
</div-->


<% provide(:button_text, 'Submit') %>
  <div class="panel panel-default">
		<div class="panel-heading">
			<h4><%= yield(:title) %></h4>
		</div>
    <div class="panel-body">

    <button class="btn btn-default" onclick="new_getLocation()">Click to set coordinates</button>
    <p id="new_demo"></p>
  
    <%= form_for(@skate_spot, url: create_by_geo_path) do |f| %>
  
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :latitude %>
      <%= f.text_field :latitude, class: 'form-control' %>

      <%= f.label :longitude %>
      <%= f.text_field :longitude, class: 'form-control' %>
			<br>

			<b>Skate Spot is a...</b><br>
			<%= f.check_box :park_spot %>
      <%= f.label :park_spot, "Park spot" %>&nbsp;
			<%= f.check_box :street_spot %>
      <%= f.label :street_spot, "Street spot" %>
			<br>
			
			<b>Skate Spot Material is...</b><br>
			<%= f.check_box :gated %>
      <%= f.label :gated, "Gated" %>&nbsp;
			<%= f.check_box :wood %>
      <%= f.label :wood, "Wooden" %>&nbsp;
			<%= f.check_box :metal %>
      <%= f.label :metal, "Metal" %>
			<br>
			
			<b>Skate Spot contains...</b><br>
			<%= f.check_box :transition %>
      <%= f.label :transition, "Transition" %>&nbsp;
			<%= f.check_box :street_plaza %>
      <%= f.label :street_plaza, "Street Plaza" %>
			<br>

			<b>Skate Spot size is...</b><br>
			<%= f.check_box :skate_spot_size %>
      <%= f.label :skate_spot_size, "Skate spot size" %>&nbsp;
			<%= f.check_box :neighborhood_spot_size %>
      <%= f.label :neighborhood_spot_size, "Neighborhood spot size" %>&nbsp;
			<%= f.check_box :regional_spot_size %>
      <%= f.label :regional_spot_size, "Regional spot size" %>
      <br>
			
			<b>Check if skate Spot is WCMX accessible:</b><br>
			<small>(Not sure what WCMX is? Learn more <a href="http://www.newmobility.com/2014/01/meet-wcmx-riders/">here</a>)</small><br>
			<%= f.check_box :wcmx_accessible %>
      <%= f.label :wcmx_accessible, "yes, WCMX accessible" %>&nbsp;
      <br>
      <br>

      <%= f.submit yield(:button_text), class: "btn btn-primary" %>
    <% end %>

  </div>
</div>
