<%= form_for([@rating.skate_spot, @rating]) do |f| %>
<!-- instead of: %= form_for(@rating) do |f| %>-->
  <% if @rating.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rating.errors.count, "error") %> prohibited this rating from being saved:</h2>

      <ul>
      <% @rating.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :difficulty %><br>
    <%= f.number_field :difficulty %>
  </div>

  <div class="field">
    <%= f.label :police %><br>
    <%= f.number_field :police %>
  </div>

  <div class="field">
    <%= f.label :pedestrian %><br>
    <%= f.number_field :pedestrian %>
  </div>

  <!--div class="field">
    %= f.label :time, "Time of day skated" %><br>
    %= check_box_tag(:time) %>
    %= label_tag(:time, "Morning") %>
    %= check_box_tag(:time) %>
    %= label_tag(:time, "Afternoon") %>
    %= check_box_tag(:time) %>
    %= label_tag(:time, "Evening") %>
    %= check_box_tag(:time) %>
    %= label_tag(:time, "Night") %>
  </div-->

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
