<!--%= form_for([@rating.skate_spot, @rating]) do |f| %>
 instead of: %= form_for(@rating) do |f| %>
  % if @rating.errors.any? %>
    <div id="error_explanation">
      <h2>%= pluralize(@rating.errors.count, "error") %> prohibited this rating from being saved:</h2>

      <ul>
      % @rating.errors.full_messages.each do |message| %>
        <li>%= message %></li>
      % end %>
      </ul>
    </div>
  % end %-->

<% provide(:button_text, 'Submit') %>
  <div class="panel panel-default">
    <div class="panel-body">

    <%= form_for([@rating.skate_spot,@rating]) do |f| %>  

    <%= f.label :difficulty %><br>
    <%= f.number_field :difficulty, class: 'form-control' %>

    <%= f.label :police, "Likelihood of being kicked out?" %><br>
    <%= f.number_field :police, class: 'form-control' %>

    <%= f.label :pedestrian, "Is there a lot of people to watch out for?" %><br>
    <%= f.number_field :pedestrian, class: 'form-control' %>

    <%= f.label :description %><br>
    <%= f.text_field :description, class: 'form-control' %>

    <%= f.submit yield(:button_text), class: "btn btn-primary" %>

<% end %>
