<div class="container">
	<div class="row">
		<li id="rating-<%= rating.id %>">
			<%= link_to gravatar_for(rating.user, size: 50), rating.user %>
			<span class="user"><%= link_to rating.user.name, rating.user %> at <%= link_to "#{rating.skate_spot.name}", skate_spot_url(rating.skate_spot.id) %></span>

			<% if rating.description.gsub(/\s+/m, ' ').strip.split(" ").join.scan(/#\w+/).count > 0 %>
				<span class="content" style="color:blue;">
					<!--% @c = rating.description %>
					% @o = @c.scan(/^\w+/) %><br>
					% @p = @c.scan(/#\w+/) %><br>
					<br>%= rating.description %-->
				<!--% @cc = rating.description.gsub(/\s+/m, ' ').strip.split(" ") %>
				% @copy = rating.description.to_s %>
				% rating.description %><br>

					% @copy.gsub!(/#\w+/) do |tag| %>
						% tag = "link_to('#{ tag }', hash_tag_show_path(name: tag))".html_safe %>
					% end %><br-->

				<%= rating.description %><br>

				</span>

			<span style="color:red"><%= @copy %></span><br>

			<% else %>
				<span class="content">
					<%= rating.description %>
				</span>
			<% end %>
								<!--% if !@ht.nil? and @ht.first.reply_ids.count > 0 %>
									<li style="color:red">%= resp.message %></li><br>
									%= link_to "#{ resp.message }", hash_tag_show_path(id: @ht.first.id) %>
								% else %>
									%= resp.message %>
								% end %-->

			<span class="timestamp">
				Posted <%= time_ago_in_words(rating.created_at) %> ago.
				<% if current_user.following?(rating.user) %>
						<button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal_<%= rating.id %>">Reply</button>
						<!--button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal">Reply</button-->
				<% else %>
						<!--button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal" disabled>Reply</button-->
						<button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal_<%= rating.id %>">Reply</button>
				<% end %>
				<% if current_user?(rating.user) %>
					<%= link_to 'Destroy', [rating.skate_spot, rating], method: :delete, data: { confirm: 'Are you sure?' } %>
				<% end %>
			</span>
		</li>
	</div>

	<div class="row" style="margin-left: 50px;">
			<% if rating.responses.count > 0 %>
				<% rating.responses.each do |resp| %>
					<li id="response-<%= resp.id %>">
						<% @resp_user = User.find_by(id: resp.user_id) %>
						<!--% @resp_user = User.find(resp.user_id) %-->
						<%= link_to gravatar_for(@resp_user, size: 50), @resp_user %>
							<span class="user"><%= link_to @resp_user.name, @resp_user %></span>
							<span class="content">
								<!--% if HashTag.where(:name => resp.message).count > 0 %-->
								<% getMsg(resp.message) %>
								<!--% if getMsg(resp.message) %-->
								<% if !@ht.nil? and @ht.first.reply_ids.count > 0 %>
									<li style="color:red"><%= resp.message %></li><br>
									<%= link_to "#{ resp.message }", hash_tag_show_path(id: @ht.first.id) %>
									<!--(Hashtag.where(:name => resp.message).first.id) %-->
								<% else %>
									
									<% @cU = resp.message.gsub(/\s+/m, ' ').strip.split(" ") %>
									<% @cU.each do |cp| %>
										<!--% if cp.scan(/#\w+/).count > 0 %-->
										<!--% if cp.include?("link_to") %-->
										<% if cp.include?("#") %>
											<!--span style="color:red"><= cp %></span-->
											<span style="color:red">
												<%= link_to "#{cp}", hash_tag_show_path(name: cp) %>
											</span>
										<% else %>
											<%= cp %>
										<% end %>
									<% end %>


									<!--br><br>put on for the squad #teamJesus<br>
									%= resp.message %-->

								<% end %>
							</span>


							<span class="timestamp">
								Posted <%= time_ago_in_words(resp.created_at) %> ago.
									<% if current_user?(@resp_user) %>
										<!--% @user = @resp_user %-->
										<% if params[:controller] != "hash_tag" %>
											<%= link_to 'Destroy', rating_delete_reply_path(rating_id: rating.id, user_id: @user.id, resp_id: resp.id), method: :delete, data: { confirm: 'Are you sure?' } %>
										<% end %>
									<% end %>
							</span>
					</li>
				<% end %>
			<% end %>
	</div>
</div>

<!-- Trigger the modal with a button -->
<!--button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button-->

<!-- Modal -->
<!--div id="myModal" class="modal fade" role="dialog"-->
<!--div id="myModal_%= rating.id %>" class="modal fade" role="dialog"-->
<div id="myModal_<%= rating.id %>" class="modal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Reply</h4>
      </div>
      <div class="modal-body">
				<% @response = rating.responses.new %>
        <%= form_for([rating,@response]) do |f| %>
	
				<%= f.label :message %><br>
				<%= f.text_field :message, class: 'form-control' %>
				<br>

			<% if params[:controller] != "hash_tag" %>
				<%= hidden_field_tag "user_id", @user.id %>
			<% end %>
			  <!--%= link_to 'Reply', [rating.skate_spot, rating], method: :reply %-->
				<%= f.submit "Submit", class: "btn btn-primary" %>
				<% end %>
      </div>
      <!--div class="modal-footer"-->
			<!--%= link_to 'Reply', [rating.skate_spot, rating], method: :reply %-->
        <!--button type="button" class="btn btn-default" data-dismiss="modal">Close</button-->
      <!--/div-->
    </div>

  </div>
</div>
