<p id="notice"><%= notice %></p>

<% provide(:title, "Ratings") %>
<% provide(:p, "Below are the skate spots that have been rated by users.") %>

<div class="table-responsive">
<!--table class="table table-hover skate_table"-->
<table class="table skate_table" id="rateTable">
  <thead>
    <tr>
      <th onclick="sortnameTable(0)">Name</th>
      <th onclick="sortthenums(2)">Difficulty</th>
      <th onclick="sortthenums(3)">Security</th>
      <th onclick="sortthenums(4)">Pedestrian</th>
		<th><center>Description</center></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ratings.each do |rating| %>
		<% @s_rate = @skate_spots.find_by(:id => rating.skate_spot_id) %> 
      <tr>
					<td style="display: none"><%= @s_rate.name %></td>
					<td><span id="skate_link"><%= link_to "#{@s_rate.name}", @s_rate %></span></td>
					<td><%= rating.difficulty %></td>
					<td><%= rating.police %></td>
					<td><%= rating.pedestrian %></td>
			    <td><%= rating.description %></td>
   
        <!-- /skate_spots/:skate_spot_id/ratings/:id -->
        <!--td>%= link_to 'Show', [rating.skate_spot, rating] %></td-->
        <!-- instead of: <td>%= link_to 'Show', rating %></td> -->

        <!-- /skate_spots/:skate_spot_id/ratings/:id/edit -->
        <!--td>%= link_to 'Edit', edit_skate_spot_rating_path(rating.skate_spot, rating) %></td-->
        <!-- instead of: <td>%= link_to 'Edit', edit_rating_path(rating) %></td> -->

        <!-- /skate_spots/:skate_spot_id/ratings/:id -->
        <!--td>%= link_to 'Destroy', [rating.skate_spot, rating], method: :delete, data: { confirm: 'Are you sure?' } %></td-->
        <!-- instead of: <td>%= link_to 'Destroy', rating, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>





<!--div style="background-color:white" class="container">
<table id="myTable" class="tablesorter"> 
<thead> 
<tr> 
    <th>Last Name</th> 
    <th>First Name</th> 
    <th>Email</th> 
    <th>Due</th> 
    <th>Web Site</th> 
</tr> 
</thead> 
<tbody> 
<tr> 
    <td>Smith</td> 
    <td>John</td> 
    <td>jsmith@gmail.com</td> 
    <td>$50.00</td> 
    <td>http://www.jsmith.com</td> 
</tr> 
<tr> 
    <td>Bach</td> 
    <td>Frank</td> 
    <td>fbach@yahoo.com</td> 
    <td>$50.00</td> 
    <td>http://www.frank.com</td> 
</tr> 
<tr> 
    <td>Doe</td> 
    <td>Jason</td> 
    <td>jdoe@hotmail.com</td> 
    <td>$100.00</td> 
    <td>http://www.jdoe.com</td> 
</tr> 
<tr> 
    <td>Conway</td> 
    <td>Tim</td> 
    <td>tconway@earthlink.net</td> 
    <td>$50.00</td> 
    <td>http://www.timconway.com</td> 
</tr> 
</tbody> 
</table> 
</div-->
