<p id="notice"><%= notice %></p>

<p>Rating.skate_spot_id: <%= @rating.skate_spot_id %></p>
<br>

<p>
  <strong>Difficulty:</strong>
  <%= @rating.difficulty %>
</p>

<p>
  <strong>Police:</strong>
  <%= @rating.police %>
</p>

<p>
  <strong>Pedestrian:</strong>
  <%= @rating.pedestrian %>
</p>

<p>
  <strong>Time:</strong>
  <%= @rating.time %>
</p>

<p>
  <strong>Description:</strong>
  <%= @rating.description %>
</p>

<!-- /skate_spots/:skate_spot_id/ratings/:id/edit -->
<%= link_to 'Edit', edit_skate_spot_rating_path(@rating.skate_spot, @rating) %> |
<!-- instead of: %= link_to 'Edit', edit_rating_path(@rating) %> | -->

<!-- /skate_spots/:skate_spot_id/ratings/ -->
<%= link_to 'Back', skate_spot_ratings_path(@rating.skate_spot) %>
<!-- instead of: %= link_to 'Back', ratings_path %> -->




