<!-- below 2 scrips add JS for map -->
<script src="//maps.google.com/maps/api/js?v=3.18&sensor=false&client=&key=&libraries=geometry&language=&hl=&region="></script> 
<script src="//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js"></script>
<script src='//google-maps-utility-library-v3.googlecode.com/svn/tags/infobox/1.1.9/src/infobox_packed.js' type='text/javascript'></script> <!-- only if you need custom infoboxes -->

<p id="notice"><%= notice %></p>

<p>Name: <%= @skate_spot.name %><br>
Zip Code: <%= @skate_spot.zip_code %><br>
Latitude: <%= @skate_spot.location.latitude %><br>
Longitude: <%= @skate_spot.location.longitude %><br>
Address: <%= @skate_spot.location.address %></br>
City: <%= @skate_spot.location.city %></br>
State: <%= @skate_spot.location.state %></br>
Country: <%= @skate_spot.location.country %></br>
Skate_spot.id: <%= @skate_spot.id %></br>
Location_id: <%= @skate_spot.location.id %></p>

<%= link_to 'Edit', edit_skate_spot_path(@skate_spot) %> |
<%= link_to 'Back', skate_spots_path %>

<!-- below 2 divs adds map div -->
<div style='width: 800px;'>
  <div id="geolocation" style='width: 800px; height: 400px;'></div>
</div>

<!-- this has 0,0 lat/lon dummy marker data; leaving for now -->
<script type="text/javascript">

  var handler = Gmaps.build('Google');
handler.buildMap({ internal: {id: 'geolocation'} }, function(){
  if(navigator.geolocation)
    navigator.geolocation.getCurrentPosition(displayOnMap);
});

function displayOnMap(position){
  var marker = handler.addMarker({
    lat: <%= @skate_spot.location.latitude %>,
    //lat: position.coords.latitude,
    lng: <%= @skate_spot.location.longitude %>
    //lng: position.coords.longitude
  });
  handler.map.centerOn(marker);
};

</script>

<br><br><br>
