<!--Sources:
https://www.railstutorial.org/book, Hartl Michael, 2014
http://www.jorgecoca.com/buils-search-form-ruby-rails/-->

<!--header class="navbar navbar-inverse"-->
<!--header class="navbar navbar-expand-lg bg-info"-->
  <!--%= link_to "Skate Spot App", root_path, id: "logo" %>-->
   <nav class="navbar navbar-expand-lg bg-info">
			<div class="container">
					<div class="navbar-translate">
						<a class="navbar-brand" href="#pablo">
							Skate App
						</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
   	        <span class="navbar-toggler-bar bar1"></span>
	        <span class="navbar-toggler-bar bar2"></span>
	        <span class="navbar-toggler-bar bar3"></span>
 	    </button>


					</div>

<div class="collapse navbar-collapse justify-content-end" id="navigation">
	<ul class="navbar-nav">
					<li class="nav-item">
						<a class="navbar-brand" href="#">
							 <%= link_to "Home", root_path, class: "navbar-brand" %>
						</a>
					</li>

					<li class="nav-item">
						<a class="navbar-brand" href="#">
							<%= link_to "Help", static_pages_help_path, class: "navbar-brand" %>
						</a>
					</li>


					<li class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" id="navbarDropdownMenuLink">
                User Options<b class="caret"></b>
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
               <% if logged_in? %>
								  <%= link_to "All Users", users_path, class: "dropdown-item navbar-brand" %>
									<div class="dropdown-divider"></div>
									<%= link_to "Profile", current_user, class: "dropdown-item navbar-brand" %>
									<%= link_to "Settings", edit_user_path(current_user), class: "dropdown-item navbar-brand" %>
									<div class="dropdown-divider"></div>
									<%= link_to "Log out", logout_path, method: "delete", class: "dropdown-item navbar-brand" %>
               <% else %>
									<%= link_to "Log in", login_path, class: "dropdown-item navbar-brand" %>
									<div class="dropdown-divider"></div>
									<%= link_to "Create account", new_user_path, class: "dropdown-item navbar-brand" %>
               <% end %>
            </div>
					</li>




				 <li class="nav-item dropdown">
						 <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" id="navbarSkateLinkMenu">
							 Skate Spot Options<b class="caret"></b>
						 </a>
						 <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarSkateLinkMenu">
								<%= link_to "View all Skate Spots", skate_spots_path(street: 0, park: 0), class: "dropdown-item navbar-brand" %>
								<%= link_to "View all Street Spots", skate_spots_path(street: 1, park: 0), class: "dropdown-item navbar-brand" %>
								<%= link_to "View all Park Spots", skate_spots_path(street: 0, park: 1), class: "dropdown-item navbar-brand" %>
								<% if logged_in? %>
											<div class="dropdown-divider"></div>
											<%= link_to "New Skate Spot", new_skate_spot_path, class: "dropdown-item navbar-brand" %>
											<%= link_to "New Skate Spot by Geolocation", new_by_geo_path, class: "dropdown-item navbar-brand" %>
								 <% end %>
						 </ul>
					</li>



          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" id="navbarRatingLinkMenu">Rating Options</a>
            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarRatingLinkMenu">
							 <% if logged_in? %>
								 <% if current_page?(controller: 'skate_spots', action: 'show') %>
										<%= link_to "New Rating", new_skate_spot_rating_path(@skate_spot), class: "dropdown-item navbar-brand" %>
								 <% end %>
								<% end %>
						   <%= link_to "All Ratings", ratings_path(street: 0, park: 0), class: "dropdown-item navbar-brand" %>
						   <%= link_to "Street Spot Ratings", ratings_path(street: 1, park: 0), class: "dropdown-item navbar-brand" %>
						   <%= link_to "Park Spot Ratings", ratings_path(street: 0, park: 1), class: "dropdown-item navbar-brand" %>
						   <!--li>%= link_to "Testing Ratings", testing_this_path %></li-->
            </ul>
         </li>


					<!--li class="nav-item">
						<a class="navbar-brand" href="#">
							 %= link_to "All Events", events_path, class: "navbar-brand" %>
						</a>
					</li>

					<li class="nav-item">
						<a class="navbar-brand" href="#">
							 %= link_to "Reources", static_pages_skate_links_path, class: "navbar-brand" %>
						</a>
					</li-->

          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" id="navbarEventLinkMenu">
								Event Options
						</a>
            <ul class="dropdown-menu" aria-labelledby="navbarEventLinkMenu">
						   <%= link_to "All Events", events_path, class: "dropdown-item navbar-brand" %>
            </ul>
         </li>


          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" id="navbarResourcesLinkMenu">
              Resources
            </a>
            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarResourcesLinkMenu">
							 <%= link_to "Collections", static_pages_skate_links_path, class: "dropdown-item navbar-brand" %>
						</ul>
					</li>	

		</ul>
	</div>



				</div>

    </nav>
